body {

    .container {
        margin: auto;
        width: 90%;

        &.main {
            margin-top: 10px;

            .jumbotron {
                margin: auto;
            }
        }

    }

    .event {
        p {
            border: solid 1px lightgray;
            border-radius: 5px;
            padding: 9px;
            width: 92%;
        }
    }

    .attendees {
        ul {
            clear: both;

            li {
                margin-right: 10px;
                float: left;

                .attendee {
                    text-align: center;

                    &.you {
                        img {
                            opacity: 0.5;
                        }

                        &.going {
                            img {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    .conversation {
        li {
            margin-bottom: 10px;
            padding: 5px;
            width: 100%;
            text-align: left;
        }
        li:nth-child(odd) {
            background-color: #efefef;
        }

        input[type=text] {
            width: 85%;
        }
    }
}