body .container {
  margin: auto;
  width: 90%; }
  body .container.main {
    margin-top: 10px; }
    body .container.main .jumbotron {
      margin: auto; }
body .event p {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 9px;
  width: 92%; }
body .attendees ul {
  clear: both; }
  body .attendees ul li {
    margin-right: 10px;
    float: left; }
    body .attendees ul li .attendee {
      text-align: center; }
      body .attendees ul li .attendee.you img {
        opacity: 0.5; }
      body .attendees ul li .attendee.you.going img {
        opacity: 1; }
body .conversation li {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  text-align: left; }
body .conversation li:nth-child(odd) {
  background-color: #efefef; }
body .conversation input[type=text] {
  width: 85%; }
