@import "variables";

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: $pageBgColor;
    font-family: 'Lato', Arial, sans-serif;
    color: $textColorDark;
    font-size: 17px;
    position: relative;
    min-height: 100%;

    .clearfix {
        clear: both;
    }

    .content-box {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .wrapper {
        width: 100%;
        margin: auto;
        background-color: $textColorLight;

        .logo {
            margin-right: 50px;
            float: left;
            h1 {
                margin: 0;
                margin-top: 10px;
            }
        }

        nav {
            background-color: $navBGColor;
            color: $textColorLight;
            margin: auto;

            .left {
                float: left;
            }
            .right {
                float: right;
                text-align: right;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    text-align: center;
                    padding: 15px 10px 15px 10px;
                    cursor: pointer;

                    &.selected {
                        border-top: solid 3px $btnBgColor;
                        background-color: $navSelectedBgColor;
                    }
                }
            }
        }


        .hero {
            background-color: $navSelectedBgColor;
            background-image: url('/assets/images/2.JPG');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 20%;
            height: 400px;
            margin: auto;
            margin-bottom: 20px;
            position: relative;
            border: solid 1px transparent;

            header {
                margin-top: 20px;
                text-align: left;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
                margin-left: 20px;
                color: $textColorLight;

                h2 {
                    font-size: 25px;
                    margin-top: 15px;
                    margin-left: 5px;
                }

            }

        }

        .walkthrough {
            position:  absolute;
            bottom: 0;
            background-color: rgba(0,0,0,0.3);
            box-shadow: 0px -3px 22px rgba(0,0,0,0.4);
            margin: auto;
            color: $textColorLight;
            padding-top: 10px;


            .fa {
                display: block;
                margin: auto;
                font-size: 40px;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                width: 40px;

                &.gowith {
                    width: 80px;
                }
            }

            h3 {
                text-align: center;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

            p {
                font-size: 17px;
                width: 70%;
                margin: auto;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            }

            div {
                min-height: 170px;
                &:after {
                    display: block;
                    content: "\f105";
                    font-size: 56px;
                    font-family: FontAwesome;
                    top: 50%;
                    position: absolute;
                    margin-top: -30px;
                    left: 0;
                }
            }

            div:first-child {
                &:after {
                    display: none;
                }

            }

        }
    }

    .footer {
        width: 100%;
        //        position: absolute;
        bottom: 0;
        text-align: center;
        background-color: $navBGColor;
        color: $textColorLight;
        padding: 20px;
        //        box-sizing: content-box;

    }

    .userEntity {
        .img {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background-repeat: no-repeat;
            margin: auto;
            box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
        }

        span {
            font-size: 14px;
        }
    }
}

