html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  background-color: #fffff7;
  font-family: 'Lato', sans-serif;
  color: #1b1b1b;
  font-size: 17px;
  position: relative;
  min-height: 100%; }
  body .clearfix {
    clear: both; }
  body .wrapper {
    width: 100%;
    margin: auto;
    background-color: #fffff7; }
    body .wrapper .logo {
      margin-right: 50px;
      float: left; }
      body .wrapper .logo h1 {
        margin: 0;
        margin-top: 10px; }
    body .wrapper nav {
      background-color: #32364a;
      color: #fffff7;
      margin: auto; }
      body .wrapper nav .left {
        float: left; }
      body .wrapper nav .right {
        float: right;
        text-align: right; }
      body .wrapper nav ul {
        margin: 0;
        padding: 0; }
        body .wrapper nav ul li {
          text-align: center;
          padding: 15px 10px 15px 10px;
          cursor: pointer; }
          body .wrapper nav ul li.selected {
            border-top: solid 3px #a51000;
            background-color: #292d3e; }
  body .footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #32364a;
    color: #fffff7;
    padding: 20px; }
  body .userEntity .img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-repeat: no-repeat;
    margin: auto;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8); }
  body .userEntity span {
    font-size: 14px; }
