$pageBgColor: #FDFDFD;
$navBGColor: #32364A;
$navSelectedBgColor: #292D3E;
$btnBgColor: #A51000;
$btnBorderColor: #C44841;
$textColorLight: #FFFFF7;
$textColorDark: #1B1B1B;

@mixin filter-blur($radius) {
    -webkit-filter: blur($radius);
    -moz-filter: blur($radius);
    -o-filter: blur($radius);
    -ms-filter: blur($radius);
    filter: blur($radius);
}

@mixin text-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
