<div class="container-fluid">
    <div class="row">
        <section class="details col-md-6">
            <article class="content-box">
                <img src="{{eventData.cover}}">
                <header>
                    <h2 ng-bind="eventData.title"></h2>
                    <h3>{{eventData.date | date:'medium'}} @ {{eventData.location}}</h3>
                </header>
                <p ng-bind="eventData.description"></p>
            </article>
        </section>

        <section class="social col-md-6">
            <h3>{{attendees.length}} people are going to {{eventData.title}}</h3>

            <ul class="attendees list-unstyled" ng-class="{expanded: !!isAttendeesExpanded}">
                <li ng-repeat="user in attendees">
                    <user-entity fb-id="user.fbId" first-name="user.firstName"></user-entity>
                </li>
            </ul>
            <a href="#" ng-click="toggle('isAttendeesExpanded')">
                <span ng-show="!isAttendeesExpanded">Show All</span>
                <span ng-show="!!isAttendeesExpanded">Show Less</span>
            </a>
            <br style="clear: both"><br>
            <button class="btn btn-lg" ng-click="clickGoWith()" ng-class="{'btn-primary': !currentUser.isGoing, 'btn-success': currentUser.isGoing}">
                <span ng-show="!currentUser.isGoing">Click to GoWith</span>
                <span ng-show="currentUser.isGoing">You're going</span>
            </button>

            <div class="conversation" ng-hide="!isGoing">
                <ul class="list-unstyled">
                    <li ng-repeat="message in messages">
                        <div class="userWrapper">
                            <user-entity fb-id="message.user.fbId"
                                         first-name="message.user.firstName"></user-entity>
                        </div>
                        <div class="messageWrapper">{{message.text}}</div>

                    </li>
                    <li>
                        <div class="userWrapper">
                            <user-entity fb-id="currentUser.fbId"
                                         first-name="currentUser.firstName"></user-entity>
                        </div>
                        <input type="text" ng-enter="sendMessage" class="form-control" ng-model="message"
                               placeholder="Send a message to event group"/>

                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
