<div class="container-fluid">
    <div class="row">
        <section class="col-md-12">
            <img ng-src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xfp1/t1.0-9/s843x403/10343006_529629823809918_2311844075284749423_n.jpg">
            <h1>Block Party</h1>
            <h3>1/1/2015 22:00 @ The Block, Tel Aviv</h3>
        </section>
    </div>

    <div class="row">
        <section class="event col-md-8">
            <p>
                This weekend everybody going to celebrate till they drop!<br/>
                Whomever you usually cuddle with, or where and when you׳re doing it is really up to you...<br/>
                We're going to have the happiest holiday love !! Proud and full of smiles & hugs we're able to love in
                any
                color, shade, sex, or gender, without any barriers or bullshit.<br/>
                Yalla Yalla we are living it up tel aviv!! Love or leave!<br/><br>

                right After we're done partying at the parade, we will meet up for a crazy 24 hour celebration, at the
                gorgeous space of ISMI SALMA.<br/><br/>

                On that second floor, we'll reach a whole other level, and you will be able to join it as soon as the
                sun
                sets and until it sets again.<br/><br/>

                All passengers are welcome aboard our orient express train, leaving shortly from Tel aviv toward Berlin.
                The
                train will stop in bizarre and exotic stops on the way, yet our crew cannot be held responsible to where
                they will actually end up... <Br><br/>

                On the constantly pulsing lineup,the best dj's telaviv has to offer: <br/><br/>

                Adi Shabat (block)<br/>
                Narkin Templer (crack)<br/>
                Dana Freeman (boys party)<br/>
                Dor Zipori (deli)<br/>
                Barbarabr <Br/>
                Charlie (t.v out)<br/>
                Oron Kbr <Br/>
                Dan Orbach <br/>
                Mz.Sunday.Luv (live!)<br/><br/>

                50 nis for entrance and exit… and entrance... and entrance again and again during all hours of the
                party!<br/><br/>

                Extravagant decor,<br/>
                Flowing alcohol,<br/>
                Rainbow color surprises.<br>
                The party you've never experienced, yet we've all been waiting for!
            </p>

        </section>

        <section class="attendees col-md-4">

            <ul class="list-unstyled">
                <li>
                    <div class="attendee you" ng-class="{going: isGoing}">
                        <img ng-src="http://graph.facebook.com/sharonsitti/picture"><br/><br/>
                        <button class="btn btn-primary" ng-hide="isGoing" ng-click="toggleGoing()">Go With</button>
                        <button class="btn btn-primary btn-success" ng-show="isGoing" ng-click="toggleGoing()">Going</button>
                    </div>
                </li>
                <li>
                    <div class="attendee">
                        <img ng-src="http://graph.facebook.com/dariafrost/picture"><br/>
                        <span>Daria Frost</span>
                    </div>
                </li>
                <li>
                    <div class="attendee">
                        <img ng-src="http://graph.facebook.com/zoebronshteyn/picture"><br/>
                        <span>Zoe Bronshteyn</span>
                    </div>
                </li>
            </ul>
            <br style="clear: both"><br>
            <div class="conversation" ng-hide="!isGoing">
                <ul class="list-unstyled">
                    <li ng-repeat="message in messages">
                        <div>
                            <img ng-src="http://graph.facebook.com/{{message.name}}/picture">
                            <span>{{message.text}}</span>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img ng-src="http://graph.facebook.com/sharonsitti/picture">
                            <input type="text" ng-enter="sendMessage" ng-model="message" placeholder="Send a message to event group"/>
                        </div>
                    </li>
                </ul>
            </div>

        </section>
    </div>
</div>