.main .hero {
  background-color: #292d3e;
  background-image: url("/assets/images/2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  height: 300px;
  margin: auto; }
  .main .hero header {
    margin-top: 90px;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
    color: #fffff7; }
    .main .hero header h1 {
      font-size: 35px;
      margin: 0 0 5px 0; }
    .main .hero header h2 {
      font-size: 22px;
      margin: 0; }
    .main .hero header button {
      margin-top: 10px; }
.main .walkthrough {
  background-color: #a51000;
  margin: auto;
  color: #fffff7;
  padding: 10px 0 10px 0;
  box-shadow: 0px -4px 18px rgba(0, 0, 0, 0.5); }
  .main .walkthrough .fa {
    display: block;
    margin: auto;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 40px; }
    .main .walkthrough .fa.gowith {
      width: 80px; }
  .main .walkthrough h3 {
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .main .walkthrough p {
    font-size: 17px;
    width: 70%;
    margin: auto;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
  .main .walkthrough div {
    min-height: 170px; }
    .main .walkthrough div:after {
      display: block;
      content: "\f105";
      font-size: 56px;
      font-family: FontAwesome;
      top: 50%;
      position: absolute;
      margin-top: -30px;
      left: 0; }
  .main .walkthrough div:first-child:after {
    display: none; }
.main .discovery {
  background-color: #fffff7;
  margin: auto;
  padding-top: 20px; }
.main .search {
  text-align: center;
  color: #a51000;
  padding-bottom: 20px; }
  .main .search h4 {
    font-size: 35px; }
  .main .search a {
    font-size: 25px; }
  .main .search .fa {
    font-size: 40px; }
.main .feedback {
  padding: 10px;
  background-color: #32364a;
  color: #fffff7; }
  .main .feedback h3 {
    text-align: center;
    font-size: 35px; }
  .main .feedback p {
    text-align: center;
    font-size: 20px; }
  .main .feedback form {
    width: 60%;
    margin: auto; }
    .main .feedback form input[type=text] {
      width: 50%; }
    .main .feedback form textarea {
      width: 90%;
      margin-bottom: 10px; }
