@import "../common/variables";

.main {

    .discovery {
        background-color: $textColorLight;
        margin: auto;

        .thumbnail {
            img {
                max-height: 160px;
                width: 100%;
            }

            h3 {
                @include text-ellipsis();
            }

            p {
                max-height: 50px;
                overflow: hidden;
            }
        }
    }

    .search {
        text-align: center;
        color: $btnBgColor;
        padding-bottom: 20px;

        h4 {
            font-size: 35px;
        }

        a {
            font-size: 25px;
        }

        .fa {
            font-size: 40px;
        }
    }

    .feedback {
        padding: 10px;
        background-color: $navBGColor;
        color: $textColorLight;

        h3 {
            text-align: center;
            font-size: 35px;
        }

        p {
            text-align: center;
            font-size: 20px;
        }

        form {
            width: 60%;
            margin: auto;

            input[type=text] {
                width: 50%;
            }

            textarea {
                width: 90%;
                margin-bottom: 10px;
            }
        }
    }
}
